.Button {
  display: block;
  width: auto;
  margin: 25px auto;
  padding: 15px;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  font-weight: bold;
  transition: all .5s;
  border: 2px solid #1d3557;
}

.Button:focus {
  outline: none;
}

.Button:hover {
  background-color: #1d3557;
  color: #fff;
}
