.Button {
  display: block;
  width: auto;
  margin: 15px auto;
  padding: 15px;
  cursor: pointer;
  border: 4px solid #1d3557;
  font-weight: bold;
  transition: all .5s;
}

.Button:focus {
  outline: none;
}

.Button:hover {
  background-color: #1d3557;
  color: #fff;
}
