.Input {
  display: block;
  width: 80%;
  margin: 15px auto;
  padding: 15px;
  border: 4px solid transparent;
  border-left: 4px solid #eeeeee;
}

.Input:focus {
  outline: none;
  border-left: 4px solid #1d3557;
}

.Input_invalid {
  background-color: indianred;
}