.AlertBox {
  position: absolute;
  top: 30px;
  color: #ffffff;
  font-weight: bold;
  padding: 15px;
  width: 50%;
  text-align: center;
}

.AlertBox.Error {
  background-color: red;
}

.AlertBox.Success {
  background-color: green;
}