.SignUpForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  z-index: 999;
}

#signUpForm {
  display: block;
  width: 100%;
}

h1 {
  color: aliceblue;
  padding-bottom: 25px;
}